.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  /* background:#0a1d37 */
}
#clickbtn {
  margin-top: 10px;
  margin-left: 4px;
  padding-top: 10px;
  margin-bottom: 10px;
}

#inp {
  /* margin-top: 30px; */
  /* padding-top:20px; */
  text-align: center;
  color: white;
  border-bottom: 2px solid #dad0c2;
}
::placeholder {
  color: white;
}
body {
  background: #512d6d;
  color: #f8485e;
}
.main {
  background: #f8485e;
  color: white;
}

#dispcomp {
}
